body {
  margin: 0;
  padding: 0;
  position: relative;
  min-width:$mobile-width;
  box-sizing: border-box;

  font-family: 'Clear sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  background-color: pink;

}

*, *::before, *::after {
  box-sizing: inherit;
}

*:focus,
*:hover {
  outline: none;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

svg {
  fill: #fff;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

  li {
    margin-right: 5px;
  }
}

main {
  max-width: $tablet-width;
  margin: 10px auto;
  text-align: center;
}
