@font-face {
    font-family: 'Clear sans';
    font-display: swap;
    src: url('../fonts/clearsans-regular-webfont-webfont.woff2') format('woff2'),
         url('../fonts/clearsans-regular-webfont-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
